# Working directory
# . or absolute path, please note that the directories following must be under root.
root = "."
tmp_dir = "tmp"

[build]
cmd = "templ generate && go build -o ./tmp/main ./cmd/ticketopia"
bin = "./tmp/main"

full_bin = ""
include_ext = ["go", "tpl", "tmpl", "templ", "html"]
exclude_dir = ["assets", "tmp", "vendor", "frontend/node_modules"]
include_dir = []
include_file = []
exclude_file = []
exclude_regex = [".*_templ.go", "_test\\.go"]
exclude_unchanged = true
follow_symlink = true
log = "air.log"
poll = true
poll_interval = 500 # ms
delay = 0 # ms
stop_on_error = true
send_interrupt = true
kill_delay = 500 # nanosecond
rerun = false
rerun_delay = 500

[log]
time = false
main_only = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true

[screen]
clear_on_rebuild = true
keep_scroll = true

[proxy]
  enabled = true
  proxy_port = 3000
  app_port = 8080
